<h1>Welcome to the Todo List</h1>
<ul>
	<% @todo_list.each do |task| %>
		<% if task.completed? %>
		<li><a href="/complete/<%= task.id %>" class="completed"><%= task.content %></a></li>
		<% else %>
		<li><a href="/complete/<%= task.id %>"><%= task.content %></a></li>
		<%end%>
		<li><%= task.created_at %></li>
	<%end%>
</ul>
<a href="/new_task">New Task</a>

